<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #175598;">
  <a class="navbar-brand" href="#">Jarvis</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="nav navbar-nav mr-auto">
      <%= link_to "Home", '/home', id: "prov", class: 'nav-link' %>
      <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Account
      </a>
      <div class="dropdown-menu " aria-labelledby="navbarDropdown" style="background-color: #175598;">
        <a class="dropdown-item text-white" href="/signup">Signup</a>
        <a class="dropdown-item text-white" href="/login">Login</a>
        <div class="dropdown-item text-white" style="color: white !important;">
          <a class="text-white" style="color: white !important;"><%= link_to "Log out", logout_path, method: :delete %></a>
        </div>
      </div>
      </li>
      <%= link_to "Article Search", '#', id: "prov", class: 'nav-link' %>
      <%= link_to "Article Index", '#', id: "prov", class: 'nav-link' %>
    </ul>
    <form class="form-inline">
      <input class="form-control mr-sm-2" placeholder="Article Search" aria-label="Search" type="search">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>